@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #363636;
  font-family: 'Roboto', sans-serif;
}

h1 { color: #e6c300; }

.test-maker {
  width: 100%;
  max-width: 600px;
}
